* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.header {
    background-color: #e48f8f;
    display: flex;
    justify-content: space-between;
    height: 100px;
    box-shadow: -2px 4px 13px 1px #a69b9b;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    margin-right: 10px;
    padding: 0;
}

button {
    padding: 10px;
    border-radius: 10px;
    background-color: #ffac02;
    border: none;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #F44336;
    color: white;
}

.container-form {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.form {
    display: none;
    position: absolute;
    top: 10px;
}

input {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #d15c5c3b;
    display: flex;
    justify-content: center;
}

.container-form {
    border: 1px black solid;
    border-radius: 5px;
}

.content {
    width: 800px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(180px, 180px);
    gap: 10px;
}

.card {
    padding: 15px;
    background-color: brown;
    color: white;
    border-radius: 5px;
    position: relative;
}

.button-card {
    position: absolute;
    top: 120px;
} 

.button-status {
    position: absolute;
    top: 120px;
    left: 120px ;
}